# Quote this to prevent word splitting.
disable=SC2046
# Declare and assign separately to avoid masking return value.
disable=SC2155
# Use cd|pushd|popd ... || exit in case cd|pushd|popd fails.
disable=SC2164
# Quote to prevent word splitting/globbing, or split robustly with mapfile or read -a.
disable=SC2206
