# Quote this to prevent word splitting.
disable=SC2046
# var is referenced but not assigned.
disable=SC2154
# Declare and assign separately to avoid masking return value.
disable=SC2155
# Use cd|pushd|popd ... || exit in case cd|pushd|popd fails.
disable=SC2164
# Prefer [ p ] && [ q ] as [ p -a q ] is not well defined.
disable=SC2166
# The = here is literal. To assign by index, use ( [index]=value ) with no spaces. To keep as literal, quote it.
disable=SC2191
# Quote to prevent word splitting/globbing, or split robustly with mapfile or read -a.
disable=SC2206
