[Codeowners]
CODEOWNERS @bgoncalv @lulinqing @mh21

# GITLAB-CODEOWNERS-CONFIG-BEGIN
#
# general:
#   project_url: https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests
#   access_level: 30
# sections:
#   Infrastructure:
#     users:
#       - cki-project
#     paths:
#       - .gitlab-ci.yml
#   CKI:
#     users:
#       - cki-project
#     kpet: locations
#   Maintainers:
#     minimum_count: 3  # the original maintainer + the two users below
#     users:
#       - bgoncalv
#       - lulinqing
#     kpet: maintainers
#
# GITLAB-CODEOWNERS-CONFIG-END

# GITLAB-CODEOWNERS-GENERATED-BEGIN
# 8845beb7d9b9fbf771892c377ff4304f2f10f9f77d4d5b1c7155677d54b40cc3

[Infrastructure]
.gitlab-ci.yml @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu

[CKI]
acpi/acpitable/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
acpi/enabled/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
autofs/connectathon/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
container/podman/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
core-kernel/Xarray-idr-radixtree-test/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
core-kernel/module_diff/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
cpu/die/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
cpu/driver/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
cpu/idle/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
distribution/kernel-debuginfo/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
distribution/ltp-upstream/lite/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
distribution/ltp/lite/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
distribution/ltp/openposix_testsuite/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
filesystems/cifs/connectathon/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
filesystems/general/pjd-fstest/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
filesystems/loopdev/sanity/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
filesystems/nfs/connectathon/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
filesystems/xfs/xfstests/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
firmware/user-specified/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
iommu/boot/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
ipmi/stress/driver/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
ipmi/stress/ipmitool-loop/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
jvm/dacapobench/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
jvm/jcstress/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
kdump/kdump-file-load/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
kdump/kdump-sysrq-c/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
kdump/kexec-boot/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
kdump/kexec-file-load/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
kselftests/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
kunit/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
legacy/pci_id/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
legacy/whitelist/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
memory/fork_mem/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
memory/function/kaslr/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
memory/function/memfd_create/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
misc/amtu/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
misc/header-test/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
misc/kernel-fips-mode/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
misc/module-load/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/bridge/sanity_check/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/driver/sanity/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/igmp/conformance/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/ipsec/ipsec_basic/ipsec_basic_netns/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/macsec/sanity_check/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/netfilter/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/route/pmtu/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/route/route_func/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/sctp/auth/sockopts/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/socket/fuzz/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/tcp/tcp_keepalive/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/tunnel/geneve/basic/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/tunnel/gre/basic/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/tunnel/l2tp/basic/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/tunnel/tunctl/permtest/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/tunnel/vxlan/basic/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/udp/udp_socket/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/vnic/ipvlan/basic/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
networking/vrf/sanity_check/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/httpd/mod_ssl-smoke/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/i2c-tools/sanity/i2cdetect-smoke/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/iotop/sanity/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/libkcapi/af_alg-test/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/net-snmp/tcp-transport/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/perf/internal-testsuite/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/perf/perftool-testsuite/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/redhat-rpm-config/detect-kabi-provides/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/redhat-rpm-config/kabi-whitelist-not-found/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/redhat-rpm-config/kernel-module-symbol-requires/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/selinux-policy/serge-testsuite/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
packages/tuned/tune-processes-through-perf/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
pciutils/sanity-smoke/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
pciutils/update-pciids/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
power-management/cpufreq/cpufreq_governor/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
power-management/cpufreq/sys_cpufreq/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
power-management/rapl/powercap/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
rt-tests/latency_perf/oslat_valid/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
rt-tests/latency_perf/rt_cyclic/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
rt-tests/pi_stress/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
rt-tests/rt_ltp/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
rt-tests/rt_migrate_test/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
rt-tests/rteval/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
rt-tests/sched_deadline/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
rt-tests/smidetect/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
rt-tests/us/stalld/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
sound/aloop/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
sound/user-ctl-elem/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
standards/usex/1.9-29/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/blktests/blk/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/blktests/nvme/nvme-rdma/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/blktests/nvme/nvme-tcp/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/blktests/nvme/nvmeof-mp/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/blktests/srp/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/block/fio_numa/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/block/fs_fio/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/block/mq_sche/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/block/zstd_compression/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/block/zstd_smoke/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/dm/common/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/hba/san-device-stress/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/hw_raid/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/iscsi/params/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/lvm/cache/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/lvm/device-mapper/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/lvm/snapper/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/lvm/thinp/sanity/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/lvm/thinp/stqe/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/nvdimm/ndctl-test-suite/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/scsi/vpd/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/swraid/mdadm/raid_module/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/swraid/scsi_raid/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/swraid/simple_reshape/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/swraid/trim/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
storage/target/targetcli_basic/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
stress/stress-ng/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
trace/bpf/test_bpf/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
trace/ftrace/tracer/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
tracepoints/operational/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
vm/hugepage/libhugetlbfs/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
vm/kvm-self-tests/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
vm/kvm-unit-tests/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu
watchdog/hw-generic/ @bgoncalv @dzickusrh @ftjahjad @idorax @inakimalerba @mh21 @sturivny @veruu

[Maintainers]
acpi/acpitable/ @ahs3 @bgoncalv @lulinqing
acpi/enabled/ @bgoncalv @jbastianrh @lulinqing
container/podman/ @bgoncalv @ftjahjad @lulinqing
core-kernel/Xarray-idr-radixtree-test/ @bgoncalv @chuhu @liwan1 @lulinqing @pifang
core-kernel/module_diff/ @bgoncalv @lulinqing @zhijwang
distribution/ltp-upstream/lite/ @bgoncalv @chuhu @liwan1 @lulinqing @pifang
distribution/ltp/lite/ @bgoncalv @chuhu @liwan1 @lulinqing @pifang
distribution/ltp/openposix_testsuite/ @bgoncalv @chuhu @liwan1 @lulinqing @pifang
filesystems/xfs/xfstests/ @bgoncalv @lulinqing @nstraz
ipmi/stress/driver/ @bgoncalv @ftjahjad @lulinqing
ipmi/stress/ipmitool-loop/ @bgoncalv @ftjahjad @lulinqing
kdump/kdump-file-load/ @bgoncalv @emmawu1 @lulinqing
kdump/kdump-sysrq-c/ @bgoncalv @emmawu1 @lulinqing
kdump/kexec-boot/ @bgoncalv @emmawu1 @lulinqing
kdump/kexec-file-load/ @bgoncalv @emmawu1 @lulinqing
memory/fork_mem/ @bgoncalv @chuhu @liwan1 @lulinqing @pifang
memory/function/kaslr/ @bgoncalv @chuhu @liwan1 @lulinqing @pifang
memory/function/memfd_create/ @bgoncalv @chuhu @liwan1 @lulinqing @pifang
misc/amtu/ @bgoncalv @chuhu @liwan1 @lulinqing @pifang
misc/header-test/ @bgoncalv @jbastianrh @lulinqing
misc/module-load/ @bgoncalv @jbastianrh @lulinqing
packages/libkcapi/af_alg-test/ @bgoncalv @lulinqing @omos
packages/selinux-policy/serge-testsuite/ @bgoncalv @lulinqing @omos
rt-tests/latency_perf/oslat_valid/ @bgoncalv @lulinqing @waylon531
rt-tests/latency_perf/rt_cyclic/ @bgoncalv @lulinqing @waylon531
rt-tests/pi_stress/ @bgoncalv @lulinqing @waylon531
rt-tests/rt_ltp/ @bgoncalv @lulinqing @waylon531
rt-tests/rt_migrate_test/ @bgoncalv @lulinqing @zhaoqiao
rt-tests/rteval/ @bgoncalv @lulinqing @zhaoqiao
rt-tests/sched_deadline/ @bgoncalv @lulinqing @zhaoqiao
rt-tests/smidetect/ @bgoncalv @lulinqing @zhaoqiao
rt-tests/us/stalld/ @bgoncalv @lulinqing @waylon531
stress/stress-ng/ @bgoncalv @jbastianrh @lulinqing
trace/bpf/test_bpf/ @bgoncalv @lulinqing @sztsian
trace/ftrace/tracer/ @bgoncalv @lulinqing @sztsian
tracepoints/operational/ @bgoncalv @jbastianrh @lulinqing
vm/hugepage/libhugetlbfs/ @bgoncalv @chuhu @liwan1 @lulinqing @pifang
watchdog/hw-generic/ @bgoncalv @ftjahjad @lulinqing

# GITLAB-CODEOWNERS-GENERATED-END
