[CKI tests]
.gitlab-ci.yml @redhat/centos-stream/tests/kernel/groups/cki
acpi/acpitable/ @redhat/centos-stream/tests/kernel/groups/cki
acpi/enabled/ @redhat/centos-stream/tests/kernel/groups/cki
autofs/connectathon/ @redhat/centos-stream/tests/kernel/groups/cki
container/podman/ @redhat/centos-stream/tests/kernel/groups/cki
core-kernel/module_diff/ @redhat/centos-stream/tests/kernel/groups/cki
core-kernel/Xarray-idr-radixtree-test/ @redhat/centos-stream/tests/kernel/groups/cki
cpu/die/ @redhat/centos-stream/tests/kernel/groups/cki
cpu/driver/ @redhat/centos-stream/tests/kernel/groups/cki
cpu/idle/ @redhat/centos-stream/tests/kernel/groups/cki
cki_bin/ @redhat/centos-stream/tests/kernel/groups/cki
cki_lib/ @redhat/centos-stream/tests/kernel/groups/cki
dci/ @redhat/centos-stream/tests/kernel/groups/cki
distribution/kernel-debuginfo/ @redhat/centos-stream/tests/kernel/groups/cki
distribution/ltp/lite/ @redhat/centos-stream/tests/kernel/groups/cki
distribution/ltp/openposix_testsuite/ @redhat/centos-stream/tests/kernel/groups/cki
distribution/ltp-upstream/lite/ @redhat/centos-stream/tests/kernel/groups/cki
filesystems/cifs/connectathon/ @redhat/centos-stream/tests/kernel/groups/cki
filesystems/general/pjd-fstest/ @redhat/centos-stream/tests/kernel/groups/cki
filesystems/loopdev/sanity/ @redhat/centos-stream/tests/kernel/groups/cki
filesystems/nfs/connectathon/ @redhat/centos-stream/tests/kernel/groups/cki
filesystems/xfs/xfstests/ @redhat/centos-stream/tests/kernel/groups/cki
firmware/user-specified/ @redhat/centos-stream/tests/kernel/groups/cki
iommu/boot/ @redhat/centos-stream/tests/kernel/groups/cki
ipmi/stress/driver/ @redhat/centos-stream/tests/kernel/groups/cki
ipmi/stress/ipmitool-loop/ @redhat/centos-stream/tests/kernel/groups/cki
jvm/dacapobench/ @redhat/centos-stream/tests/kernel/groups/cki
jvm/jcstress/ @redhat/centos-stream/tests/kernel/groups/cki
kdump/kdump-file-load/ @redhat/centos-stream/tests/kernel/groups/cki
kdump/kdump-sysrq-c/ @redhat/centos-stream/tests/kernel/groups/cki
kdump/kexec-boot/ @redhat/centos-stream/tests/kernel/groups/cki
kdump/kexec-file-load/ @redhat/centos-stream/tests/kernel/groups/cki
kselftests/ @redhat/centos-stream/tests/kernel/groups/cki
kunit/ @redhat/centos-stream/tests/kernel/groups/cki
legacy/pci_id/ @redhat/centos-stream/tests/kernel/groups/cki
legacy/whitelist/ @redhat/centos-stream/tests/kernel/groups/cki
memory/fork_mem/ @redhat/centos-stream/tests/kernel/groups/cki
memory/function/kaslr/ @redhat/centos-stream/tests/kernel/groups/cki
memory/function/memfd_create/ @redhat/centos-stream/tests/kernel/groups/cki
misc/amtu/ @redhat/centos-stream/tests/kernel/groups/cki
misc/header-test/ @redhat/centos-stream/tests/kernel/groups/cki
misc/kernel-fips-mode/ @redhat/centos-stream/tests/kernel/groups/cki
misc/module-load/ @redhat/centos-stream/tests/kernel/groups/cki
networking/bridge/sanity_check/ @redhat/centos-stream/tests/kernel/groups/cki
networking/driver/sanity/ @redhat/centos-stream/tests/kernel/groups/cki
networking/igmp/conformance/ @redhat/centos-stream/tests/kernel/groups/cki
networking/ipsec/ipsec_basic/ipsec_basic_netns/ @redhat/centos-stream/tests/kernel/groups/cki
networking/macsec/sanity_check/ @redhat/centos-stream/tests/kernel/groups/cki
networking/netfilter/ @redhat/centos-stream/tests/kernel/groups/cki
networking/route/pmtu/ @redhat/centos-stream/tests/kernel/groups/cki
networking/route/route_func/ @redhat/centos-stream/tests/kernel/groups/cki
networking/sctp/auth/sockopts/ @redhat/centos-stream/tests/kernel/groups/cki
networking/socket/fuzz/ @redhat/centos-stream/tests/kernel/groups/cki
networking/tcp/tcp_keepalive/ @redhat/centos-stream/tests/kernel/groups/cki
networking/tunnel/geneve/basic/ @redhat/centos-stream/tests/kernel/groups/cki
networking/tunnel/gre/basic/ @redhat/centos-stream/tests/kernel/groups/cki
networking/tunnel/l2tp/basic/ @redhat/centos-stream/tests/kernel/groups/cki
networking/tunnel/tunctl/permtest/ @redhat/centos-stream/tests/kernel/groups/cki
networking/tunnel/vxlan/basic/ @redhat/centos-stream/tests/kernel/groups/cki
networking/udp/udp_socket/ @redhat/centos-stream/tests/kernel/groups/cki
networking/vnic/ipvlan/basic/ @redhat/centos-stream/tests/kernel/groups/cki
networking/vrf/sanity_check/ @redhat/centos-stream/tests/kernel/groups/cki
packages/httpd/mod_ssl-smoke/ @redhat/centos-stream/tests/kernel/groups/cki
packages/i2c-tools/sanity/i2cdetect-smoke/ @redhat/centos-stream/tests/kernel/groups/cki
packages/iotop/sanity/ @redhat/centos-stream/tests/kernel/groups/cki
packages/libkcapi/af_alg-test/ @redhat/centos-stream/tests/kernel/groups/cki
packages/net-snmp/tcp-transport/ @redhat/centos-stream/tests/kernel/groups/cki
packages/perf/internal-testsuite/ @redhat/centos-stream/tests/kernel/groups/cki
packages/perf/perftool-testsuite/ @redhat/centos-stream/tests/kernel/groups/cki
packages/redhat-rpm-config/detect-kabi-provides/ @redhat/centos-stream/tests/kernel/groups/cki
packages/redhat-rpm-config/kabi-whitelist-not-found/ @redhat/centos-stream/tests/kernel/groups/cki
packages/redhat-rpm-config/kernel-module-symbol-requires/ @redhat/centos-stream/tests/kernel/groups/cki
packages/selinux-policy/serge-testsuite/ @redhat/centos-stream/tests/kernel/groups/cki
packages/tuned/tune-processes-through-perf/ @redhat/centos-stream/tests/kernel/groups/cki
pciutils/sanity-smoke/ @redhat/centos-stream/tests/kernel/groups/cki
pciutils/update-pciids/ @redhat/centos-stream/tests/kernel/groups/cki
power-management/cpufreq/cpufreq_governor/ @redhat/centos-stream/tests/kernel/groups/cki
power-management/cpufreq/sys_cpufreq/ @redhat/centos-stream/tests/kernel/groups/cki
power-management/rapl/powercap/ @redhat/centos-stream/tests/kernel/groups/cki
rt-tests/latency_perf/oslat_valid/ @redhat/centos-stream/tests/kernel/groups/cki
rt-tests/latency_perf/rt_cyclic/ @redhat/centos-stream/tests/kernel/groups/cki
rt-tests/pi_stress/ @redhat/centos-stream/tests/kernel/groups/cki
rt-tests/rteval/ @redhat/centos-stream/tests/kernel/groups/cki
rt-tests/rt_ltp/ @redhat/centos-stream/tests/kernel/groups/cki
rt-tests/rt_migrate_test/ @redhat/centos-stream/tests/kernel/groups/cki
rt-tests/sched_deadline/ @redhat/centos-stream/tests/kernel/groups/cki
rt-tests/smidetect/ @redhat/centos-stream/tests/kernel/groups/cki
sound/aloop/ @redhat/centos-stream/tests/kernel/groups/cki
sound/user-ctl-elem/ @redhat/centos-stream/tests/kernel/groups/cki
standards/usex/1.9-29/ @redhat/centos-stream/tests/kernel/groups/cki
storage/blktests/blk/ @redhat/centos-stream/tests/kernel/groups/cki
storage/blktests/nvme/nvmeof-mp/ @redhat/centos-stream/tests/kernel/groups/cki
storage/blktests/nvme/nvme-rdma/ @redhat/centos-stream/tests/kernel/groups/cki
storage/blktests/nvme/nvme-tcp/ @redhat/centos-stream/tests/kernel/groups/cki
storage/blktests/srp/ @redhat/centos-stream/tests/kernel/groups/cki
storage/block/fio_numa/ @redhat/centos-stream/tests/kernel/groups/cki
storage/block/fs_fio/ @redhat/centos-stream/tests/kernel/groups/cki
storage/block/mq_sche/ @redhat/centos-stream/tests/kernel/groups/cki
storage/block/zstd_compression/ @redhat/centos-stream/tests/kernel/groups/cki
storage/block/zstd_smoke/ @redhat/centos-stream/tests/kernel/groups/cki
storage/dm/common/ @redhat/centos-stream/tests/kernel/groups/cki
storage/hba/san-device-stress/ @redhat/centos-stream/tests/kernel/groups/cki
storage/hw_raid/ @redhat/centos-stream/tests/kernel/groups/cki
storage/iscsi/params/ @redhat/centos-stream/tests/kernel/groups/cki
storage/lvm/cache/ @redhat/centos-stream/tests/kernel/groups/cki
storage/lvm/device-mapper/ @redhat/centos-stream/tests/kernel/groups/cki
storage/lvm/snapper/ @redhat/centos-stream/tests/kernel/groups/cki
storage/lvm/thinp/sanity/ @redhat/centos-stream/tests/kernel/groups/cki
storage/lvm/thinp/stqe/ @redhat/centos-stream/tests/kernel/groups/cki
storage/nvdimm/ndctl-test-suite/ @redhat/centos-stream/tests/kernel/groups/cki
storage/scsi/vpd/ @redhat/centos-stream/tests/kernel/groups/cki
storage/swraid/mdadm/raid_module/ @redhat/centos-stream/tests/kernel/groups/cki
storage/swraid/scsi_raid/ @redhat/centos-stream/tests/kernel/groups/cki
storage/swraid/trim/ @redhat/centos-stream/tests/kernel/groups/cki
storage/target/targetcli_basic/ @redhat/centos-stream/tests/kernel/groups/cki
stress/stress-ng/ @redhat/centos-stream/tests/kernel/groups/cki
trace/bpf/test_bpf/ @redhat/centos-stream/tests/kernel/groups/cki
trace/ftrace/tracer/ @redhat/centos-stream/tests/kernel/groups/cki
tracepoints/operational/ @redhat/centos-stream/tests/kernel/groups/cki
vm/hugepage/libhugetlbfs/ @redhat/centos-stream/tests/kernel/groups/cki
vm/kvm-self-tests/ @redhat/centos-stream/tests/kernel/groups/cki
vm/kvm-unit-tests/ @redhat/centos-stream/tests/kernel/groups/cki
watchdog/hw-generic/ @redhat/centos-stream/tests/kernel/groups/cki

[MM-QE tests]
memory/ @mm-qe
core-kernel/xarray-idr-radixtree-test/ @mm-qe
distribution/ltp/ @mm-qe
distribution/ltp-upstream/ @mm-qe
misc/amtu/ @mm-qe
vm/hugepage/ @mm-qe

[Codeowners]
CODEOWNERS @bgoncalv @lulinqing @mh21

[Fallback]
* @redhat/centos-stream/tests/kernel
