[CKI tests]
.gitlab-ci.yml @cki-project
acpi/acpitable @cki-project
acpi/enabled @cki-project
autofs/connectathon @cki-project
container/podman @cki-project
core-kernel/module_diff @cki-project
core-kernel/Xarray-idr-radixtree-test @cki-project
cpu/die @cki-project
cpu/driver @cki-project
cpu/idle @cki-project
cki_bin @cki-project
cki_lib @cki-project
dci @cki-project
distribution/kernel-debuginfo @cki-project
distribution/ltp/lite @cki-project
distribution/ltp/openposix_testsuite @cki-project
distribution/ltp-upstream/lite @cki-project
filesystems/cifs/connectathon @cki-project
filesystems/general/pjd-fstest @cki-project
filesystems/loopdev/sanity @cki-project
filesystems/nfs/connectathon @cki-project
filesystems/xfs/xfstests @cki-project
firmware/user-specified @cki-project
iommu/boot @cki-project
ipmi/stress/driver @cki-project
ipmi/stress/ipmitool-loop @cki-project
jvm/dacapobench @cki-project
jvm/jcstress @cki-project
kdump/kdump-file-load @cki-project
kdump/kdump-sysrq-c @cki-project
kdump/kexec-boot @cki-project
kdump/kexec-file-load @cki-project
kselftests @cki-project
kunit @cki-project
legacy/pci_id @cki-project
legacy/whitelist @cki-project
memory/fork_mem @cki-project
memory/function/kaslr @cki-project
memory/function/memfd_create @cki-project
misc/amtu @cki-project
misc/header-test @cki-project
misc/kernel-fips-mode @cki-project
misc/module-load @cki-project
networking/bridge/sanity_check @cki-project
networking/driver/sanity @cki-project
networking/igmp/conformance @cki-project
networking/ipsec/ipsec_basic/ipsec_basic_netns @cki-project
networking/macsec/sanity_check @cki-project
networking/netfilter @cki-project
networking/route/pmtu @cki-project
networking/route/route_func @cki-project
networking/sctp/auth/sockopts @cki-project
networking/socket/fuzz @cki-project
networking/tcp/tcp_keepalive @cki-project
networking/tunnel/geneve/basic @cki-project
networking/tunnel/gre/basic @cki-project
networking/tunnel/l2tp/basic @cki-project
networking/tunnel/tunctl/permtest @cki-project
networking/tunnel/vxlan/basic @cki-project
networking/udp/udp_socket @cki-project
networking/vnic/ipvlan/basic @cki-project
networking/vrf/sanity_check @cki-project
packages/httpd/mod_ssl-smoke @cki-project
packages/i2c-tools/sanity/i2cdetect-smoke @cki-project
packages/iotop/sanity @cki-project
packages/libkcapi/af_alg-test @cki-project
packages/net-snmp/tcp-transport @cki-project
packages/perf/internal-testsuite @cki-project
packages/perf/perftool-testsuite @cki-project
packages/redhat-rpm-config/detect-kabi-provides @cki-project
packages/redhat-rpm-config/kabi-whitelist-not-found @cki-project
packages/redhat-rpm-config/kernel-module-symbol-requires @cki-project
packages/selinux-policy/serge-testsuite @cki-project
packages/tuned/tune-processes-through-perf @cki-project
pciutils/sanity-smoke @cki-project
pciutils/update-pciids @cki-project
power-management/cpufreq/cpufreq_governor @cki-project
power-management/cpufreq/sys_cpufreq @cki-project
power-management/rapl/powercap @cki-project
rt-tests/latency_perf/oslat_valid @cki-project
rt-tests/latency_perf/rt_cyclic @cki-project
rt-tests/pi_stress @cki-project
rt-tests/rteval @cki-project
rt-tests/rt_ltp @cki-project
rt-tests/rt_migrate_test @cki-project
rt-tests/sched_deadline @cki-project
rt-tests/smidetect @cki-project
sound/aloop @cki-project
sound/user-ctl-elem @cki-project
standards/usex/1.9-29 @cki-project
storage/blktests/blk @cki-project
storage/blktests/nvme/nvmeof-mp @cki-project
storage/blktests/nvme/nvme-rdma @cki-project
storage/blktests/nvme/nvme-tcp @cki-project
storage/blktests/srp @cki-project
storage/block/fio_numa @cki-project
storage/block/fs_fio @cki-project
storage/block/mq_sche @cki-project
storage/block/zstd_compression @cki-project
storage/block/zstd_smoke @cki-project
storage/dm/common @cki-project
storage/hba/san-device-stress @cki-project
storage/hw_raid @cki-project
storage/iscsi/params @cki-project
storage/lvm/cache @cki-project
storage/lvm/device-mapper @cki-project
storage/lvm/snapper @cki-project
storage/lvm/thinp/sanity @cki-project
storage/lvm/thinp/stqe @cki-project
storage/nvdimm/ndctl-test-suite @cki-project
storage/scsi/vpd @cki-project
storage/swraid/mdadm/raid_module @cki-project
storage/swraid/scsi_raid @cki-project
storage/swraid/trim @cki-project
storage/target/targetcli_basic @cki-project
stress/stress-ng @cki-project
trace/bpf/test_bpf @cki-project
trace/ftrace/tracer @cki-project
tracepoints/operational @cki-project
vm/hugepage/libhugetlbfs @cki-project
vm/kvm-self-tests @cki-project
vm/kvm-unit-tests @cki-project
watchdog/hw-generic @cki-project
