
module avahi-daemon 1.0;
 
require {
        type etc_t;
        type avahi_t;
        class dir watch;
}
 
#============= avahi_t ==============
allow avahi_t etc_t:dir watch;
