
module bz2031356 1.0;

require {
	type systemd_coredump_t;
	type root_t;
	class cap_userns { dac_override dac_read_search sys_admin };
	class dir mounton;
}

#============= systemd_coredump_t ==============
allow systemd_coredump_t root_t:dir mounton;
allow systemd_coredump_t self:cap_userns { dac_override dac_read_search sys_admin };
