
module fowner-sadc 1.0;

require {
	type sysstat_t;
	class capability fowner;
}

#============= sysstat_t ==============
allow sysstat_t self:capability fowner;
