
module groupadd 1.0;

require {
	type groupadd_t;
	class capability fowner;
}

#============= groupadd_t ==============
allow groupadd_t self:capability fowner;
