
module mandb-mod 1.0;

require {
	type mandb_t;
	class capability fowner;
}

#============= mandb_t ==============
allow mandb_t self:capability fowner;
