
module rpc.statd-mod 1.0;

require {
	type rpcd_t;
	type kernel_t;
	class system module_request;
}

#============= rpcd_t ==============
allow rpcd_t kernel_t:system module_request;
