
module rpcbind-mod 1.0;

require {
        type rpcbind_t;
        type unreserved_port_t;
        class udp_socket name_bind;
}

#============= rpcbind_t ==============

#!!!! This avc can be allowed using the boolean 'nis_enabled'
allow rpcbind_t unreserved_port_t:udp_socket name_bind;
