
module smbd-mod 1.0;

require {
	type kernel_t;
	type smbd_t;
	class system module_request;
}

#============= smbd_t ==============
allow smbd_t kernel_t:system module_request;
