
module systemd-logind-mod 1.0;

require {
	type systemd_logind_t;
	type unconfined_t;
	class msgq destroy;
}

#============= systemd_logind_t ==============
allow systemd_logind_t unconfined_t:msgq destroy;
