
module systemd-hostnam-mod 1.0;

require {
	type udev_var_run_t;
	type systemd_hostnamed_t;
	class file { getattr open read };
}

#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t udev_var_run_t:file { getattr open read };
